main {
  display: flex;
  justify-content: center;
  height: 100%;
  background-color: #373867;
}

h2, h3, p {
  margin-top: 10px;
  color: white;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 30px;
  font-weight: 700;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 80%;
  border-radius: 10px;
  background-color: white;
}

form div {
  width: 60%;
  display: flex;
  flex-direction: column;
}

form input, form label, form a, button {
  font-size: 20px;
  font-weight: 500;
}

form input {
  height: 60px;
  border-radius: 5px;
}

form label {
  margin-bottom: 10px;
  color: #373867;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.box-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 300px;
  width: 40%;
  margin-left: 10%;
  visibility: hidden;
}

.box-1 p {
  font-size: 18px;
  line-height: 30px;
}

.box-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 70%;
  margin: 10px;
}

.box-2 div:nth-of-type(3) {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.box-2 div:nth-of-type(3) input {
  width: 6%;
  margin-right: 30px;
}

.box-2 div:nth-of-type(3) label {
  margin: 0;
}

.box-3 {
  display: flex;
  height: 35%;
  justify-content: space-around;
  align-items: center;
}

.box-3 button {
  width: 50%;
  height: 20%;
  border-radius: 5px;
}

.box-3 button:nth-of-type(1) {
  color: white;
  background-color: #373867;
}

.box-3 button:nth-of-type(2) {
  color: #373867;
  border-color: #373867;
}

@media screen and (min-width: 1024px) {

  main {
    margin-left: 300px;
  }

  .container {
    flex-direction: row;
  }

  .box-1 {
    visibility: visible;
  }

  .box-2 {
    width: 60%;
  }

}