<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../styles/reset.css">
  <link rel="stylesheet" href="../styles/styles.css">
  <link rel="stylesheet" href="../styles/header.css">
  <link rel="stylesheet" href="../styles/sidebar.css">
  <link rel="stylesheet" href="../styles/login.css">
  <link rel="stylesheet" href="../styles/footer.css">
  <script src="../javascript/login.js"></script>
  <title>Login</title>
</head>
<body>
	<header class="header">
    <div>
      <i class="fa-solid fa-bars index-icon"></i>
      <a href="#" class="title-index">Trackgenix</a>
    </div>
    <nav>
      <ul>
        <li><a href="#">About Trackgenix</a></li>
        <li><a href="#">Functions</a></li>
        <li><a href="#">Info</a></li>
        <li><a href="#">History</a></li>
        <li><a href="#">Products & Services</a></li>
      </ul>
    </nav>
	</header>
	<aside class="aside">
		<div class="aside-links">
			<input type="search" placeholder="Search">
			<p>Menú</p>
			<ul>
				<li>
          <i class="fa-solid fa-house"></i>
					<a href="index.html" >Home</a>
				</li>
				<li >
					<i class="fa-solid fa-user-plus"></i>
					<a href="sign-up.html">Sign up</a>
				</li>
				<li>
					<i class="fa-solid fa-right-to-bracket"></i>
					<a href="#">Login</a>
				</li>
				<li>
					<i class="fa-regular fa-envelope"></i>
					<a href="#">Contact</a>
				</li>
			</ul>
		</div>
		<div class="aside-contact">
			<ul>
				<li>
					Get in Touch
				</li>
				<li>
					<i class="fa-regular fa-envelope"></i>info@gigatech.com
				</li>
				<li>
					<i class="fa-solid fa-phone"></i>(+000) 000-000000
				</li>
				<li> 
          <i class="fa-solid fa-location-dot"></i>
          1234 Somewhere Road 
          Somewhere, XX 000-0000
				</li>
			</ul>
    </div>
	</aside>
	<main>
    <div class="container">
      <div class="box-1">
        <h2>Trackgenix</h2>
        <h3>GigaTech Software Solutions SA</h3>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
      </div>
      <div class="box-2">
        <form>
          <h4>Login</h4>
          <div>
            <label>Email or User</label>
            <input type="text" placeholder="user@gigatech.com">
          </div>
          <div>
            <label>Password</label>
            <input type="password" placeholder="********">
          </div>
          <div>
            <label>Remember me</label>
            <input type="checkbox" name="" id="">
          </div>
          <div class="box-3">
            <a href="#">Forgot password or Email?</a>
            <button>Login</button>
            <a href="#">Don't have an account yet?</a>
            <button>Register</button>
          </div>
          <div></div>
        </form>
      </div>
    </div>	
	</main> 
	<footer class="footer">
    <ul>
      <li>
        <a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
      </li>
      <li>
        <a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a>
      </li>
      <li>
        <a href="https://facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
      </li>
      <li>
        <a href="https://instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
      </li>
      <li>
        <a href="https://github.com/" target="_blank"><i class="fa-brands fa-github"></i></a>
      </li>
    </ul>
    <p>Copyright © 2022 Radium Rocket. All rights reserved.</p>
	</footer>
</body>
</html>