main {
  margin-top: 90px;
}

h2 {
  margin-left: 6%;
}

/* NO ANDA */
/*
#primary-section {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
  align-items: center;
}

#primary-section div {
  display: flex;
  flex-direction: column;
  flex-basis: 600px;
  justify-content: center;
  margin-top: 54px;
  margin-bottom: 100px;
}

#primary-section img {
  margin-top: 30px;
  width: 300px;
  max-width: 600px;
  flex-grow: 0.5;
} 
*/


#primary-section {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
}

#primary-section div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 54px;
}

#primary-section img {
  margin-top: 30px;
  width: 100%;
  max-width: 600px;
  flex-grow: 0.5;
}

#primary-section h1 {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 30px;
}

#primary-section p:nth-of-type(1) {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 20px;
}

#primary-section p:nth-of-type(2) {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 20px;
}

#primary-section a {
  padding: 10px 24px;
  border: 1px solid #373867;
  align-self: flex-start;
}
 

/* about and functions*/


.about h2 {
  margin-left: 6%;
  margin-top: 15%;
} 

.functions h2 {
  margin-left: 6%;
}

.container {
  display: flex;
  justify-content: center;
  padding: 5px;
  flex-wrap: wrap;
}

.container article {
  display: flex;
  margin: 20px;
  width: 90%;
}

.about img, .functions img {
  display: none;
  width: 100px;
  height: 100px;
  margin-right: 60px;
  align-self: center;
}

.about h2, .functions h2 {
  margin-bottom: 39px;
  width: 300px;
}

.about h3, .functions h3 {
  font-size: 20px;
  margin-bottom: 10px;
}


/*information*/


.information h2 {
  margin-bottom: 40px;
}

.information form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-information {
  min-width: 350px;
}

.box-information div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.box-information:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.box-information label{
  margin-bottom: 10px;
  line-height: 16px;
}

.box-information div {
  margin-bottom: 22px;
}

input {
  flex-basis: 50px;
  border: 1px solid #373867;
  border-radius: 4px;
}

.contact-area {
  min-width: 350px;
}

.contact-area div {
  margin-bottom: 20px;
  margin-left: 70px;
}

.contact-area p {
  margin-bottom: 20px;
}

.box-message {
  display: flex;
  flex-direction: column;
  min-width: 350px;
}

.box-message label {
  margin-bottom: 20px;
}

.information button {
  margin-left: 260px;
  margin-top: 20px;
  border: 1px solid #373867;
  border-radius: 5px;
  padding: 10px 24px;
}


/*history*/


.history {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.history h3 {
  margin-left: 6%;
  margin-right: 6%;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.history article:nth-of-type(1) p:nth-of-type(1) {
  margin-left: 6%;
  margin-right: 6%;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.history p {
  margin-left: 6%;
  margin-right: 6%;
  padding: 27px 0 20px 0;
  font-size: 12px;
  line-height: 18px;
}


/* products and services */


.products-services h2 {
  margin-bottom: 49px;
  margin-bottom: 49px;
  line-height: 24px;
  width: 295px;
}

.products-services p {
  margin-left: 25px;
  margin-right: 25px;
  font-size: 15px;
  line-height: 24px;

}


/* products, business, support*/


.container-box {
  display: flex;
  flex-direction: column;
}

.products, .business, .support {
  display: flex;
  flex-direction: column;
}

.products h2, .business h2, .support h2 {
  margin-left: 67px;
  margin-bottom: 46px;
}

.products, .business, .support p {
  line-height: 18px;
}

.products div:nth-of-type(2), .business div:nth-of-type(2), .support div:nth-of-type(2) {
  margin-top: 60px;
  margin-left: 88px;
  font-size: 20px;
  line-height: 23px;
}

.products div:nth-of-type(2) li,
.business div:nth-of-type(2) li,
.support div:nth-of-type(2) li {
  list-style-type: decimal;
}


/* media */


@media (min-width: 768px) {
  .about img, .functions img {
    display: unset;
  }
}

@media (min-width: 1024px) {
  main {
    margin: 130px 0 0 300px;
  }

  #primary-section h1 {
    font-size: 40px;
  }

  #primary-section {
   flex-direction: row;
  }

  #primary-section div {
    width: 47%;
   }

  #primary-section img {
    width: 47%;
  }

  #primary-section p:nth-of-type(2) {
    background-color: #D9D9D9;
    padding: 20px 10px;
  }

  .container article, .container article {
    width: 43%;
  }

  .about img, .functions img {
    display: uset;
    width: 100px;
    height: 100px;
    margin-right: 60px;
  }

  .history article {
    width: 50%;
    font-size: 16px;
  }

  .history h3 {
    font-size: 24px;
  }

  .history p {
    font-size: 16px;
  }

  .history article:nth-of-type(1) p:nth-of-type(1) {
    font-size: 20px;
  }

  .container-box {
    flex-direction: row;
  }

  .products p:nth-of-type(1), .business p:nth-of-type(1), .support p:nth-of-type(1) {
    display: none;
  }
}
