* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #373867;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 24px;
}

aside {
  position: fixed;
  width: 290px;
  top: 105px;
  bottom: 0;
  background-color: #D9D9D9;
}

main {
  min-height: 100%;
  margin: 7% 0 0 20%;
  z-index: 0;
}

h1, h2 {
  font-size: 40px;
  font-weight: bold;
  line-height: 47px;
}

p {
  font-size: 15px;
  font-weight: 400;
}

i {
  margin-right: 8px
}

a {
  color: #373867;
  text-decoration: none;
}

a:visited {
  color: #373867;
}

.container-size {
  height: 800px;
}

.nav-bar {
  position: fixed;
  height: 106px;
  width: 100%;
  top: 0px;
  border-bottom: 3px solid #373867;
  background-color: #D9D9D9;
  font-weight: bold;
  z-index: 1;
}

.nav-bar ul {
  float: right;
  padding-top: 51px;
  padding-right: 30px;
}

.nav-bar li {
  display: inline;
}

.nav-bar a {
  padding: 0 22px;
}

.nav-bar a:hover {
  padding: 10px 22px;
  border-radius: 8px;
  background-color: #373867;
  color: white;
}

.space-nav {
  margin-left: 624px;
}

.fa-bars {
  margin-top: 48px;
  margin-right: 94px;
  margin-left: 25px;
}

.aside input {
  width: 260px;
  height: 37px;
  margin-top: 29px;
  margin-left: 16px;
}

.aside li {
  margin-top: 29px;
  margin-left: 53px;
}

.aside-links p {
  margin: 57px 53px 0 53px ;
  border-bottom: 3px solid #373867;
}

.aside-contact li:nth-of-type(1) {
  margin: 207px 53px 0 53px ;
  border-bottom: 3px solid #373867;
}

.primary-section div {
  display: inline-block;
  width: 49%;
}

.primary-section div:first-of-type {
  float: left;
} 

.primary-section h1 {
  margin: 109px 0 168px 106px;
}

.primary-section p:nth-of-type(1) {
  margin: 0 0 38px 106px;
  font-size: 20px;
  font-weight: 450;
}

.primary-section p:nth-of-type(2) {
  width: 410px;
  padding: 20px 10px;
  margin: 0 0 42px 132px;
  background-color: #D9D9D9;
  font-size: 15px;
  text-align: start;
}

.primary-section a {
  padding: 14px 36px;
  margin-left: 173px;
  border: 1px solid #373867;
  border-radius: 5px;
  color: #373867;
  text-decoration: none;
}

.primary-section img {
  width: 500px;
  margin: 111px 0 0 52px;
}

.about div, .functions div {
  margin-left: 50px;
}

.about h2, .functions h2 {
  margin: 110px 0 99px 106px;
}

.about h3, .functions h3 {
  margin-bottom: 10px;
  font-size: 20px;
}

.about p, .functions p {
  width: 517px;
  height: 84px;
  margin: 17px 72px 0 0;
}

.about article, .functions article {
  display: inline-block;
  width: 49%;
  margin-bottom: 66px;
}

.img-sections {
  float: left;
  width: 100px;
  margin-right: 58px;
}

.information h2 {
  padding-top: 104px;
  margin: 0 0 17px 204px;
  line-height: 47px;
}

.information form {
  margin-left: 407px;
}

.information div {
  margin-bottom: 22px;
}

.information label {
  display: block;
  font-weight: 400;
}

.information input[type="text"], .information input[type="email"] {
  width: 260px;
  height: 37px;
  margin-top: 7px;
  border-radius: 4px;
  border: 1px solid #373867;
}

.contact-area input[type="radio"] {
  margin-top: 10px;
  accent-color: #373867;
}

.contact-area input, .contact-area p {
  display: inline-block;
}

.information textarea {
  width: 260px;
  height: 97px;
  border-radius: 4px;
  margin-top: 7px;
}

.information button {
  width: 76px;
  height: 34px;
  margin-left: 190px;
  border: 1px solid #373867;
  border-radius: 5px;
}

.history div {
  display: inline-block;
  width: 49%;
}

.history div:first-of-type {
  float: left;
}

.history h2 {
  margin: 88px 0 17px 100px;
}

.history h3 {
  margin: 0 0 119px 100px;
  font-size: 24px;
  font-weight: 500;
}

.history div:nth-of-type(1) p {
  width: 383px;
  margin-left: 100px;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
}

.history div:nth-of-type(2) p {
  width: 440px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 18px;
}

.products-services h2{
  margin-top: 109px;
  margin-bottom: 81px ;
  margin-left: 106px;
  color: #373867;
}

.products-services p {
  width: 410px;
  height: 214px;
  margin-left: 106px;
  line-height: 24px;
  text-align: initial;
}

.products h2, .business h2, .support h2 {
  width: 245px;
  height: 60px;
  padding-top: 10px;
  margin: 24px 0 0 132px;
  background-color: #D9D9D9;
  text-align: center;
}

.products p, .business p, .support p {
  width: 237px;
  margin: 36px 0 0 140px;
  line-height: 18px;
}

.products div, .business div, .support div {
  display: inline-block;
}

.products div:nth-of-type(2), 
.business div:nth-of-type(2), 
.support div:nth-of-type(2) {
  width: 272px;
  height: 355px;
  padding-top: 10px;
  margin-left: 164px;
  background-color: #D9D9D9;
}

.products div:nth-of-type(2) li,
.business div:nth-of-type(2) li,
.support div:nth-of-type(2) li {
  margin: 0 0 56px 40px;
  text-align: initial;
  list-style-type: decimal;
}

.products div:nth-of-type(2) a,
.business div:nth-of-type(2) a,
.support div:nth-of-type(2) a {
  color: #383767;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
}

footer {
  height: 106px;
  bottom: 0;
  background-color: #D9D9D9;
  text-align: center;
}

footer div {
  padding-top: 25px;
}

footer li {
  display: inline;
}

footer a {
  margin-right: 20px;
  color: #C4C4C4;
  font-size: 31px;
}

footer a:visited {
  color: #C4C4C4;
}

footer p {
  margin-top: 15px;
  line-height: 16px;
}